table.center {
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

#climber_data-section {
    background: #23d4b2;
}

.delete {
    background: #23d4b2;
}

.delete:hover {
    background: #126c5d;
}

.table tr > td{
    vertical-align: middle;
}

#climber_ranking-body > tr:nth-child(1) {
    background: #CFA638;
    color: #faf4e3;
}

#climber_ranking-body > tr:nth-child(2) {
    background: #a4a4a4;
    color: #ffffff;
}

#climber_ranking-body > tr:nth-child(3) {
    background: #BC7F40;
    color: #603200;
}